.for-container{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 250px;
    align-items: center;
    margin: auto;
    margin-top: 250px;
    border-radius: 10px;
    background-color: #EDF6F9;
}
.for-container input{
    margin-bottom: 1rem;
    width: 20rem;
    height: 2rem;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1rem;
    padding-left: .5rem;
}
.otp-btn{
    padding: .6rem 8rem;
    background-color: #83C5BE;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1.5rem;
}
.error{
    height: 1rem;
    position: absolute;
    margin-top: 6.3rem;
    margin-right: 12rem;
}